{% extends './template.html' %}
{% block main %}
<!-- Start Page Banner -->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2>Blog Left Sidebar</h2>

            <ul>
                <li><a href="index.html">Home</a></li>
                <li>Blog Left Sidebar</li>
            </ul>
        </div>
    </div>
</div>
<!-- End Page Banner -->

<!-- Start Blog Area -->
<section class="blog-area bg-color bg-ffffff pt-50 pb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-12">
                <aside class="widget-area">
                    <div class="widget widget_search">
                        <form action="{{ url_for('search') }}"  method="GET">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="search-box">
                                        <input name="q" type="text" class="form-control search-field" placeholder="Search product...">
                                        <button type="submit"><i class='bx bx-search'></i></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
            
                    <div class="widget widget_categories">
                        <h3 class="widget-title">Categories</h3>

                        <ul class="categories">
                            <li>
                                <a href="#" class="nav-link">
                                    <i class="flaticon-desktop-computer"></i>
                                    Computers & Accessories
                                </a>
                            </li>

                            <li>
                                <a href="#" class="nav-link">
                                    <i class="flaticon-stereo"></i>
                                    Audio & Home Theater
                                </a>
                            </li>

                            <li>
                                <a href="#" class="nav-link">
                                    <i class="flaticon-laptop"></i>
                                    Laptop
                                </a>
                            </li>

                            <li>
                                <a href="#" class="nav-link">
                                    <i class="flaticon-tv-box"></i>
                                    TV & Accessories
                                </a>
                            </li>

                            <li>
                                <a href="#" class="nav-link">
                                    <i class="flaticon-smartphone"></i>
                                    Mobiles & Tablets
                                </a>
                            </li>

                            <li>
                                <a href="#" class="nav-link">
                                    <i class="flaticon-headphones"></i>
                                    Headphone & Earphone
                                </a>
                            </li>

                            <li>
                                <a href="#" class="nav-link">
                                    <i class="flaticon-battery-charge"></i>
                                    Battery & Accessories
                                </a>
                            </li>

                            <li>
                                <a href="#" class="nav-link">
                                    <i class="flaticon-smart-watch"></i>
                                    Watches
                                </a>
                            </li>

                            <li>
                                <a href="#" class="nav-link">
                                    <i class="flaticon-camera"></i>
                                    Cameras
                                </a>
                            </li>

                            <li>
                                <a href="#" class="nav-link">
                                    <i class="flaticon-trimmer"></i>
                                    Accessories
                                </a>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="widget widget_BuyNow_posts_thumb">
                        <h3 class="widget-title">Popular Posts</h3>

                        <article class="item">
                            <a href="#" class="thumb">
                                <span class="fullimage cover bg1" role="img"></span>
                            </a>
                            <div class="info">
                                <h4 class="title usmall">
                                    <a href="blog-details.html">Upcoming Electronic Gadget</a>
                                </h4>
                                <span>20 October 2020</span>
                            </div>
                        </article>

                        <article class="item">
                            <a href="#" class="thumb">
                                <span class="fullimage cover bg2" role="img"></span>
                            </a>
                            <div class="info">
                                <h4 class="title usmall">
                                    <a href="blog-details.html">Gaming Joystick Gadget</a>
                                </h4>
                                <span>10 October 2020</span>
                            </div>
                        </article>

                        <article class="item">
                            <a href="#" class="thumb">
                                <span class="fullimage cover bg3" role="img"></span>
                            </a>
                            <div class="info">
                                <h4 class="title usmall">
                                    <a href="blog-details.html">Popular Upcoming Accessories</a>
                                </h4>
                                <span>25 October 2020</span>
                            </div>
                        </article>

                        <article class="item">
                            <a href="#" class="thumb">
                                <span class="fullimage cover bg4" role="img"></span>
                            </a>
                            <div class="info">
                                <h4 class="title usmall">
                                    <a href="blog-details.html">Minimal Design Inspiration Hand Watch</a>
                                </h4>
                                <span>19 October 2020</span>
                            </div>
                        </article>

                        <article class="item">
                            <a href="#" class="thumb">
                                <span class="fullimage cover bg5" role="img"></span>
                            </a>
                            <div class="info">
                                <h4 class="title usmall">
                                    <a href="blog-details.html">I used Work Upcoming Electronic Gadgets</a>
                                </h4>
                                <span>19 October 2020</span>
                            </div>
                        </article>

                        <article class="item">
                            <a href="#" class="thumb">
                                <span class="fullimage cover bg6" role="img"></span>
                            </a>
                            <div class="info">
                                <h4 class="title usmall">
                                    <a href="blog-details.html">Shipping Impacts your Customer</a>
                                </h4>
                                <span>30 October 2020</span>
                            </div>
                        </article>
                    </div>

                    <div class="widget widget_tag_cloud">
                        <h3 class="widget-title">Popular Tags</h3>

                        <div class="tagcloud">
                            <a href="#">Electronics</a>
                            <a href="#">Business</a>
                            <a href="#">Policy</a>
                            <a href="#">Benefits</a>
                            <a href="#">Ecommerce</a>
                            <a href="#">Audio</a>
                            <a href="#">Camera</a>
                            <a href="#">Watches</a>
                        </div>
                    </div>
                </aside>
            </div>
            
            <div class="col-lg-7 col-md-12">
                <div class="single-blog">
                    <div class="blog-image">
                        <a href="blog-details.html"><img src="{{ url_for('static', filename='assets/img/blog/blog-1.jpg') }}" alt="image"></a>
                    </div>

                    <div class="blog-content">
                        <span>eCommerce</span>
                        <h3>
                            <a href="blog-details.html">The Factory is Making its Own Mobile Chipset</a>
                        </h3>
                        <div class="post-meta">
                            <a href="#">Admin</a> / 20 October 2020
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea com modo consequat.</p>

                        <div class="blog-btn">
                            <a href="#" class="default-btn">
                                Read More
                                <span></span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="single-blog">
                    <div class="blog-image">
                        <a href="blog-details.html"><img src="{{ url_for('static', filename='assets/img/blog/blog-2.jpg') }}" alt="image"></a>
                    </div>

                    <div class="blog-content">
                        <span>eCommerce</span>
                        <h3>
                            <a href="blog-details.html">Minimal Design Inspiration Hand Watch</a>
                        </h3>
                        <div class="post-meta">
                            <a href="#">Admin</a> / 19 October 2020
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea com modo consequat.</p>

                        <div class="blog-btn">
                            <a href="#" class="default-btn">
                                Read More
                                <span></span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="single-blog">
                    <div class="blog-image">
                        <a href="blog-details.html"><img src="{{ url_for('static', filename='assets/img/blog/blog-3.jpg') }}" alt="image"></a>
                    </div>

                    <div class="blog-content">
                        <span>eCommerce</span>
                        <h3>
                            <a href="blog-details.html">You Can See the Electronic Products in the Showroom</a>
                        </h3>
                        <div class="post-meta">
                            <a href="#">Admin</a> / 18 October 2020
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea com modo consequat.</p>

                        <div class="blog-btn">
                            <a href="#" class="default-btn">
                                Read More
                                <span></span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="single-blog">
                    <div class="blog-image">
                        <a href="blog-details.html"><img src="{{ url_for('static', filename='assets/img/blog/blog-4.jpg') }}" alt="image"></a>
                    </div>

                    <div class="blog-content">
                        <span>eCommerce</span>
                        <h3>
                            <a href="blog-details.html">I Used to Work with Upcoming Electronic Gadgets</a>
                        </h3>
                        <div class="post-meta">
                            <a href="#">Admin</a> / 20 October 2020
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea com modo consequat.</p>

                        <div class="blog-btn">
                            <a href="#" class="default-btn">
                                Read More
                                <span></span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="single-blog">
                    <div class="blog-image">
                        <a href="blog-details.html"><img src="{{ url_for('static', filename='assets/img/blog/blog-5.jpg') }}" alt="image"></a>
                    </div>

                    <div class="blog-content">
                        <span>eCommerce</span>
                        <h3>
                            <a href="blog-details.html">Latest Ecommerce Trend: The Rise of Shoppable Posts</a>
                        </h3>
                        <div class="post-meta">
                            <a href="#">Admin</a> / 19 October 2020
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea com modo consequat.</p>

                        <div class="blog-btn">
                            <a href="#" class="default-btn">
                                Read More
                                <span></span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="single-blog">
                    <div class="blog-image">
                        <a href="blog-details.html"><img src="{{ url_for('static', filename='assets/img/blog/blog-6.jpg') }}" alt="image"></a>
                    </div>

                    <div class="blog-content">
                        <span>eCommerce</span>
                        <h3>
                            <a href="blog-details.html">Shipping Impacts Your Customer’s Experience</a>
                        </h3>
                        <div class="post-meta">
                            <a href="#">Admin</a> / 18 October 2020
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea com modo consequat.</p>

                        <div class="blog-btn">
                            <a href="#" class="default-btn">
                                Read More
                                <span></span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="pagination-area">
                    <a href="#" class="prev page-numbers">
                        <i class='flaticon-left-arrow'></i>
                    </a>
                    <a href="#" class="page-numbers">1</a>
                    <span class="page-numbers current" aria-current="page">2</span>
                    <a href="#" class="page-numbers">3</a>
                    <a href="#" class="page-numbers">4</a>
                    <a href="#" class="next page-numbers">
                        <i class='flaticon-right-arrow'></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Blog Area -->
{% endblock %}
