{% extends './product-template.html' %}
{% block productName %}Bluetooth Headphone{% endblock %}
{% block newPrice %}
250
{% endblock %}
{% block oldPrice %}
300
{% endblock %}
{% block img1 %}
/static/assets/img/quick-view/quick-view-1.jpg
{% endblock %}
{% block img1_2 %}
/static/assets/img/quick-view/quick-view-1.jpg
{% endblock %}
{% block img2 %}
/static/assets/img/quick-view/quick-view-2.jpg
{% endblock %}
{% block img2_2 %}
/static/assets/img/quick-view/quick-view-2.jpg
{% endblock %}
{% block img3 %}
/static/assets/img/quick-view/quick-view-3.jpg
{% endblock %}
{% block img3_2 %}
/static/assets/img/quick-view/quick-view-3.jpg
{% endblock %}

