{% extends './product-template.html' %}
{% block productName %}New Smart Phone{% endblock %}
{% block newPrice %}
175
{% endblock %}
{% block oldPrice %}
200
{% endblock %}
{% block img1 %}
/static/assets/img/shop/shop-12.jpg
{% endblock %}
{% block img1_2 %}
/static/assets/img/shop/shop-12.jpg
{% endblock %}
{% block img2 %}
/static/assets/img/offer-products/offer-products-4.jpg
{% endblock %}
{% block img2_2 %}
/static/assets/img/offer-products/offer-products-4.jpg
{% endblock %}
{% block img3 %}
/static/assets/img/special-products/special-products-3.jpg
{% endblock %}
{% block img3_2 %}
/static/assets/img/special-products/special-products-3.jpg
{% endblock %}