{% extends './product-template.html' %}
{% block productName %}Protable Speakers{% endblock %}
{% block newPrice %}
200
{% endblock %}
{% block oldPrice %}
250
{% endblock %}
{% block img1 %}
/static/assets/img/arrivals-products/arrivals-products-4.jpg
{% endblock %}
{% block img1_2 %}
/static/assets/img/arrivals-products/arrivals-products-4.jpg
{% endblock %}
{% block img2 %}
/static/assets/img/bestsellers-products/bestsellers-products-2.jpg
{% endblock %}
{% block img2_2 %}
/static/assets/img/bestsellers-products/bestsellers-products-2.jpg
{% endblock %}
{% block img3 %}
/static/assets/img/main-slider/slider-bg-4.jpg
{% endblock %}
{% block img3_2 %}
/static/assets/img/main-slider/slider-bg-4.jpg
{% endblock %}
