{% extends './product-template.html' %}
{% block productName %}Digital Camera{% endblock %}
{% block newPrice %}
200
{% endblock %}
{% block oldPrice %}
230
{% endblock %}
{% block img1 %}
/static/assets/img/shop/shop-1.jpg
{% endblock %}
{% block img1_2 %}
/static/assets/img/shop/shop-1.jpg
{% endblock %}
{% block img2 %}
/static/assets/img/shop/shop-7.jpg
{% endblock %}
{% block img2_2 %}
/static/assets/img/shop/shop-7.jpg
{% endblock %}
{% block img3 %}
/static/assets/img/shop/shop-10.jpg
{% endblock %}
{% block img3_2 %}
/static/assets/img/shop/shop-10.jpg
{% endblock %}
