{% extends './template.html' %}
{% block main %}
<!-- Start Page Banner -->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2>Compare</h2>

            <ul>
                <li><a href="index.html">Home</a></li>
                <li>Compare</li>
            </ul>
        </div>
    </div>
</div>
<!-- End Page Banner -->

<!-- Start Compare Area -->
<section class="compare-area ptb-50">
    <div class="container">
        <div class="products-compare-table table-responsive">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td>Products</td>
                        <td>
                            <div class="remove-btn">
                                <a href="#" class="remove">Remove</a>
                            </div>

                            <div class="single-arrivals-products">
                                <div class="arrivals-products-image">
                                    <a href="#">
                                        <img src="{{ url_for('static', filename='assets/img/arrivals-products/arrivals-products-1.jpg') }}" alt="image">
                                    </a>
                                    <div class="tag">New</div>
                                    <ul class="arrivals-action">
                                        <li>
                                            <a href="cart.html" data-tooltip="tooltip" data-placement="top" title="Add to Cart">
                                                <i class="flaticon-shopping-cart"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="wishlist.html" data-tooltip="tooltip" data-placement="top" title="Add to Wishlist"><i class="flaticon-heart"></i></a>
                                        </li>
                                        <li>
                                            <a href="#" data-tooltip="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#productsQuickView"><i class="flaticon-view"></i></a>
                                        </li>
                                    </ul>
                                </div>
    
                                <div class="arrivals-products-content">
                                    <h3>
                                        <a href="products-details.html">Smart Watch</a>
                                    </h3>
                                    <ul class="rating">
                                        <li><i class='bx bxs-star'></i></li>
                                        <li><i class='bx bxs-star'></i></li>
                                        <li><i class='bx bxs-star'></i></li>
                                        <li><i class='bx bxs-star'></i></li>
                                        <li><i class='bx bxs-star'></i></li>
                                    </ul>
                                    <span>$99.00</span>
                                </div>
                            </div>
                        </td>

                        <td>
                            <div class="remove-btn">
                                <a href="#" class="remove">Remove</a>
                            </div>

                            <div class="single-arrivals-products">
                                <div class="arrivals-products-image">
                                    <a href="#">
                                        <img src="{{ url_for('static', filename='assets/img/arrivals-products/arrivals-products-2.jpg') }}" alt="image">
                                    </a>
                                    <div class="tag">New</div>
                                    <ul class="arrivals-action">
                                        <li>
                                            <a href="cart.html" data-tooltip="tooltip" data-placement="top" title="Add to Cart">
                                                <i class="flaticon-shopping-cart"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="wishlist.html" data-tooltip="tooltip" data-placement="top" title="Add to Wishlist"><i class="flaticon-heart"></i></a>
                                        </li>
                                        <li>
                                            <a href="#" data-tooltip="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#productsQuickView"><i class="flaticon-view"></i></a>
                                        </li>
                                    </ul>
                                </div>
    
                                <div class="arrivals-products-content">
                                    <h3>
                                        <a href="products-details.html">Digital Camera</a>
                                    </h3>
                                    <ul class="rating">
                                        <li><i class='bx bxs-star'></i></li>
                                        <li><i class='bx bxs-star'></i></li>
                                        <li><i class='bx bxs-star'></i></li>
                                        <li><i class='bx bxs-star'></i></li>
                                        <li><i class='bx bxs-star'></i></li>
                                    </ul>
                                    <span>$125.00</span>
                                </div>
                            </div>
                        </td>

                        <td>
                            <div class="remove-btn">
                                <a href="#" class="remove">Remove</a>
                            </div>

                            <div class="single-arrivals-products">
                                <div class="arrivals-products-image">
                                    <a href="#">
                                        <img src="{{ url_for('static', filename='assets/img/arrivals-products/arrivals-products-3.jpg') }}" alt="image">
                                    </a>
                                    <div class="tag">Sale</div>
                                    <ul class="arrivals-action">
                                        <li>
                                            <a href="cart.html" data-tooltip="tooltip" data-placement="top" title="Add to Cart">
                                                <i class="flaticon-shopping-cart"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="wishlist.html" data-tooltip="tooltip" data-placement="top" title="Add to Wishlist"><i class="flaticon-heart"></i></a>
                                        </li>
                                        <li>
                                            <a href="#" data-tooltip="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#productsQuickView"><i class="flaticon-view"></i></a>
                                        </li>
                                    </ul>
                                </div>
    
                                <div class="arrivals-products-content">
                                    <h3>
                                        <a href="products-details.html">Wireless Headphone</a>
                                    </h3>
                                    <ul class="rating">
                                        <li><i class='bx bxs-star'></i></li>
                                        <li><i class='bx bxs-star'></i></li>
                                        <li><i class='bx bxs-star'></i></li>
                                        <li><i class='bx bxs-star'></i></li>
                                        <li><i class='bx bxs-star'></i></li>
                                    </ul>
                                    <span>$175.00</span>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>Collection</td>
                        <td>Shirt, New Products, T-Shirt</td>
                        <td>Shirt, New Products, T-Shirt</td>
                        <td>Shirt, New Products, T-Shirt</td>
                    </tr>

                    <tr>
                        <td>Availability</td>
                        <td>In Stock</td>
                        <td>In Stock</td>
                        <td>In Stock</td>
                    </tr>

                    <tr>
                        <td>Material</td>
                        <td>100% Polyester</td>
                        <td>100% Polyester</td>
                        <td>100% Polyester</td>
                    </tr>

                    <tr>
                        <td>Vendor</td>
                        <td>Lacoste</td>
                        <td>Lacoste</td>
                        <td>Lacoste</td>
                    </tr>

                    <tr>
                        <td>SKU</td>
                        <td>00105сd-1</td>
                        <td>00105сd-1</td>
                        <td>00105сd-1</td>
                    </tr>

                    <tr>
                        <td>Color</td>
                        <td>White</td>
                        <td>Black</td>
                        <td>Blue</td>
                    </tr>

                    <tr>
                        <td>Size</td>
                        <td>20</td>
                        <td>22</td>
                        <td>XXL</td>
                    </tr>

                    <tr>
                        <td>Barcode</td>
                        <td>1234567890</td>
                        <td>1234567890</td>
                        <td>1234567890</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- End Compare Area -->
{% endblock %}
