{% extends './product-template.html' %}
{% block productName %}Protable Speakers{% endblock %}
{% block newPrice %}
200
{% endblock %}
{% block oldPrice %}
250
{% endblock %}
{% block img1 %}
/static/assets/img/arrivals-products/arrivals-products-4.jpg
{% endblock %}
{% block img1_2 %}
/static/assets/img/arrivals-products/arrivals-products-4.jpg
{% endblock %}
{% block img2 %}
/static/assets/img/bestsellers-products/bestsellers-products-2.jpg
{% endblock %}
{% block img2_2 %}
/static/assets/img/bestsellers-products/bestsellers-products-2.jpg
{% endblock %}
{% block img3 %}
/static/assets/img/main-slider/slider-bg-4.jpg
{% endblock %}
{% block img3_2 %}
/static/assets/img/main-slider/slider-bg-4.jpg
{% endblock %}
{% block description %}
Excellent Sound Quality - Dual 7W High-Performance Power Drivers deliver shocking sound without distortion even at the max volume, Powerful subwoofers bring you immersive listening experience, crystal clear highs, extra deep & solid bass.
{% endblock %}
{% block overview %}
<p>Advanced Bass+ Technology - Press the Bass+ button on the portable speaker, which can help you feel the realism and intensity of the rock music or other intense music. Make your music sing with solid lows at any volume.</p>
<p>IPX7 Waterproof Bluetooth Speaker - LENRUE A15 shower speaker has designed and provided fully waterproof of highest protection degree of IPX7, and also dust proof, Mud proof, rainproof, snow proof. Great for pool, shower, beach, party, hiking, BBQ, kayak etc.</p>

<ul>
    <li>Incredible Bluetooth V5.0 Technology - LENRUE A15 Bluetooth Speakers use advanced antenna design with Bluetooth 5.0 provides greater wireless range and faster Bluetooth connection, connects easily with the Echo Dot, Echo Dot 3rd Gen, Echo, Echo Plus, iPhone 6/7/8, iPhone X, iPhone XS, iPad, Samsung S9/S10/S10+, Samsung Note, Smartphone, Cellphone, Laptop, computer, Mac, and all other Bluetooth devices.</li>
    <li>What You Get - 1 x LENRUE IPX7 Waterproof Bluetooth Speaker, 1 x 3.5mm Audio Cable, 1x Micro USB Charging Cable, 1 x User Manual, Hassle-free 12 months & 7x24 hours after-sale service, if you have any problem, feel free to contact us.</li>
    <li>Powerful 14W Loud Sound Volume</li>
    <li>Astonishing Full Bodied Bass+ Effect</li>
    <li>Enchanced IPX7 Waterproof Dustproof</li>
    <li>Stylish Matte Finish and Ergonomic Design</li>
    <li>Crystal Clear Sound & DSP Technology</li>
</ul>
{% endblock %}