{% extends './product-template.html' %}
{% block productName %}New Smart Phone{% endblock %}
{% block newPrice %}
175
{% endblock %}
{% block oldPrice %}
200
{% endblock %}
{% block img1 %}
/static/assets/img/shop/shop-12.jpg
{% endblock %}
{% block img1_2 %}
/static/assets/img/shop/shop-12.jpg
{% endblock %}
{% block img2 %}
/static/assets/img/offer-products/offer-products-4.jpg
{% endblock %}
{% block img2_2 %}
/static/assets/img/offer-products/offer-products-4.jpg
{% endblock %}
{% block img3 %}
/static/assets/img/special-products/special-products-3.jpg
{% endblock %}
{% block img3_2 %}
/static/assets/img/special-products/special-products-3.jpg
{% endblock %}
{% block description %}
Pro-Grade Camera: The new Samsung Galaxy S20 FE mobile phone features high-powered pro lenses for beautiful portraits, stunning landscapes and crisp close-ups in any light with its 3X optical zoom
30X Space Zoom: Whether you want your cellphone to zoom in close from afar or magnify details of something nearby, 30X Space Zoom gives you the power to get closer
{% endblock %}
{% block overview %}
<p>Night Mode: Capture crisp images and vibrant video with Night Mode and create high-quality content in low light — no flash required with this smartphone</p> 
<p> Single-Take AI: One tap of the screen captures multiple images and video all at once; Lenses, effects and filters capture the best of every moment, every time</p> 
<p> Power of 5G: Get next-level power for everything you love to do with Samsung Galaxy 5G; More sharing, more gaming, more experiences and never miss a beat</p> 
<ul>
    <li>Width: 77.2 mm</li>
    <li>Height: 163.1 mm</li>
    <li>Depth: 8.8 mm</li>
    <li>Weight:Approx 206 g (including the battery)</li>
    <li>Size: 6.59 inches</li>
    <li>Colour: 16.7 million colours</li>
    <li>Type: TFT LCD (LTPS)</li>
    <li>Resolution: FHD+ 2340 x 1080</li>
</ul>
{% endblock %}