{% extends './product-template.html' %}
{% block productName %}Bluetooth Headphone{% endblock %}
{% block newPrice %}
250
{% endblock %}
{% block oldPrice %}
300
{% endblock %}
{% block img1 %}
/static/assets/img/quick-view/quick-view-1.jpg
{% endblock %}
{% block img1_2 %}
/static/assets/img/quick-view/quick-view-1.jpg
{% endblock %}
{% block img2 %}
/static/assets/img/quick-view/quick-view-2.jpg
{% endblock %}
{% block img2_2 %}
/static/assets/img/quick-view/quick-view-2.jpg
{% endblock %}
{% block img3 %}
/static/assets/img/quick-view/quick-view-3.jpg
{% endblock %}
{% block img3_2 %}
/static/assets/img/quick-view/quick-view-3.jpg
{% endblock %}
{% block description %}
Astonishing sound at any volume AR is a first-of-its-kind audio augmented reality platform, the Connect app gives you easy access to everything your product has to offer
{% endblock %}
{% block overview %}
<p>Oval ear cushions: Designed for full-ear coverage with cooling gel, for sound isolation and comfort</p>
<p>Proprietary technology clears away the noisy distractions of the world so you can get deeper into your music, your work.</p>
<p>Astonishing sound at any volume AR is a first-of-its-kind audio augmented reality platform, the Connect app gives you easy access to everything your product has to offer</p>

<ul>
    <li>Frequency response: 20 Hz – 20 kHz</li>
    <li>Impedance: 32Ω at 1 kHz</li>
    <li>Sensitivity (@1 kHz): 107 ± 3 dB</li>
    <li>Input power: 30 mW (Max)</li>
    <li>Drivers: 50 mm, with Neodymium magnets</li>
    <li>Inner ear cup diameter: Width 56mm / Length 67mm</li>
    <li>Oval ear cushions: Designed for full-ear coverage with cooling gel, perfect for long-wearing
        comfort</li>
    <li>Connection type: Wireless USB Transceiver / 3.5mm analog</li>
    <li>Wireless range: 12 m / 40 ft</li>
    <li>Wireless frequency: 2.4 GHz</li>
    <li>Analog connection: 4 – pole</li>
    <li>Battery life: Up to 14 hours with Razer Chroma lighting / 20 hours without Razer Chroma lighting
    </li>
</ul>
{% endblock %}

