{% extends './product-template.html' %}
{% block productName %}Smart Watch{% endblock %}
{% block newPrice %}
150
{% endblock %}
{% block oldPrice %}
240
{% endblock %}
{% block img1 %}
/static/assets/img/shop/shop-15.jpg
{% endblock %}
{% block img1_2 %}
/static/assets/img/shop/shop-15.jpg
{% endblock %}
{% block img2 %}
/static/assets/img/shop/shop-15.jpg
{% endblock %}
{% block img2_2 %}
/static/assets/img/shop/shop-15.jpg
{% endblock %}
{% block img3 %}
/static/assets/img/shop/shop-15.jpg
{% endblock %}
{% block img3_2 %}
/static/assets/img/shop/shop-15.jpg
{% endblock %}