{% extends './product-template.html' %}
{% block productName %}Digital Camera{% endblock %}
{% block newPrice %}
200
{% endblock %}
{% block oldPrice %}
230
{% endblock %}
{% block img1 %}
/static/assets/img/shop/shop-1.jpg
{% endblock %}
{% block img1_2 %}
/static/assets/img/shop/shop-1.jpg
{% endblock %}
{% block img2 %}
/static/assets/img/shop/shop-7.jpg
{% endblock %}
{% block img2_2 %}
/static/assets/img/shop/shop-7.jpg
{% endblock %}
{% block img3 %}
/static/assets/img/shop/shop-10.jpg
{% endblock %}
{% block img3_2 %}
/static/assets/img/shop/shop-10.jpg
{% endblock %}
{% block description %}
【Mini Digital Camera】18 Mega pixels CMOS sensor,support image capture and video shooting.The image format is JPEG,the video format is AVI.2.7 Inch LCD display and 8X digital zoom.This is a cost-effective entry-level ordinary camera,easy to operate,good for newbie/students/family,and good as a gift.
{% endblock %}
{% block overview %}
<p>【Pocket Cameras Digital with Zoom】8X digital zoom enlarges your picture,you can take the expected photos according to the actual scene.Multifunction: Anti-Shake,Face Detection,Smile Capture,Continue Shot,Self-timer etc.</p>
<p>【Compact Cameras for Photography】Compact small size 90*60*18mm, only Weight 150g,easy to carry around.Pho Tags Express software for managing and enhanceing your photos,printing,sending photos by e-mails and much more.</p>
<p>【HD Digital Camera for Backpacking】Lanyard and pocket for portability, convenient for you to travel abroad.High-capacity rechargeable lithium battery, reduce charging time.SD memory card slot,support MAX 32G SD card(Not included),can shoot many high-definition photos and videos without worrying about insufficient memory.USB 2.0 interface,share images or videos to your social media.</p>
<p>【Digital Zoom Camera with Flash Light】Internal microphone and speaker (record sound videos),it support hot shoe interface so you can open flash light according to scene needs,excellent performance in low light conditions.Suggest to open the flash when you use this indoor.</p>

<ul>
    <li> LCD Display: 2.7" TFT LCD</li>
    <li> Image Sensor: CMOS Sensor</li>
    <li> File Format: JPEG/AVI</li>
    <li> Video Resolution: 1280*720 HD, 640*480 VGA, 320*240 QVGA</li>
    <li> Digital Zoom: 8X digital zoom</li>
    <li> Anti-shake: Support</li>
    <li> Face detection: Support</li>
    <li> Smile Capture: Support</li>
    <li> Continue Shot: Support</li>
    <li> External Memory: SD card(up to 32GB)</li>
    <li> Exposure: EV-3---EV+3</li>
    <li> White Balance: Auto/Daylight/Cloudy/Incandescent/Fluorescent</li>
    <li> Sence: Auto/Night Portrait/Night Scenery/Portrait/Scenery/Sport/Party/Beach/High sensitivity</li>
    <li> ISO: Auto/100/200/400</li>
    <li> Self-timer: Off/2s/5s/10s</li>
    <li> Flash: Auto/Force/Off/Red-eye reduction</li>
    <li> Interface: USB 2.0</li>
    <li> System Requirement: Windows XP/VISTA/7/MAC</li>
    <li> Battery: Li-ion Battery</li>
    <li> Working Temperature: 0-40℃</li>
</ul>
{% endblock %}