{% extends './product-template.html' %}
{% block productName %}Smart Watch{% endblock %}
{% block newPrice %}
150
{% endblock %}
{% block oldPrice %}
240
{% endblock %}
{% block img1 %}
/static/assets/img/shop/shop-15.jpg
{% endblock %}
{% block img1_2 %}
/static/assets/img/shop/shop-15.jpg
{% endblock %}
{% block img2 %}
/static/assets/img/shop/shop-15.jpg
{% endblock %}
{% block img2_2 %}
/static/assets/img/shop/shop-15.jpg
{% endblock %}
{% block img3 %}
/static/assets/img/shop/shop-15.jpg
{% endblock %}
{% block img3_2 %}
/static/assets/img/shop/shop-15.jpg
{% endblock %}
{% block description %}
DUAL HR & HRV HEART MONITOR - Advanced HR & HRV sensor offers 24/7 automatic monitoring of Heart Rate and Heart Rate Variability (every minute). Much more convenient than the traditional devices.
{% endblock %}
{% block overview %}
<p>ADVANCED SPO2 TRACKING - Advanced SpO2 sensor is equipped with red light and infrared 4 layers detection, for more accurate Blood Oxygen detection. Much more superior than the green light technology.</p>
<p>INTELLIGENT BLOOD PRESSURE - Advanced BP sensor offers 24/7 automatic monitoring of Blood Pressure (every 5 minutes), and can be calibrated to get accurate detecting. Much more intelligent than the traditional devices.</p>
<p>SCIENTIFIC SLEEP MONITOR - Scientific sleep monitor tracks the all-day deep sleep, light sleep, REM sleep, stay-up-late and awake time. Help you know more about your sleeping habits for a healthier lifestyle.</p>
<p>ACTIVITY & FITNESS TRACKER - Track your daily exercise data with 10 different sports modes: outdoor run, indoor run, outdoor walk, indoor walk, hiking, stair stepper, outdoor cycle, stationary bike, elliptical, rowing machine.</p>

<ul>
    <li>Compatible OS: Android 4.4 or above, IOS 9.0 or above,</li>
    <li>Chips: NORDIC NRF52832,</li>
    <li>Acceleration Sensor: ROHM KX023-1025,</li>
    <li>PPG & SpO2 Sensor: Silicon 1182,</li>
    <li>Screen: 1.54 inch IPS full touch wide color screen,</li>
    <li>Resolution: 240*240 pixels TFT,</li>
    <li>Battery: 220 mAh Lithium Polymer Battery,</li>
    <li>Way of Charge: Magnetic Contact Charging,</li>
    <li>Working time: 5-7 days,</li>
    <li>Charging Time: 2 hours,</li>
    <li>Product weight: 52.1 g,</li>
    <li>Case Material: Glass + Metal + Silicone,</li>
    <li>Band Material: TPU,</li>
    <li>Bluetooth: Low Consumption Bluetooth V4.0,</li>
    <li>Waterproof: IP68.</li>
</ul>
{% endblock %}